<% layout('layouts/boilerplate')%>

<h2>List of all Repos with >0 stars OR >0 forks</h2>
<ul>
  <% for (let repo of repos) { %> <% if(repo.stargazers_count>=0 ||
  repo.forks_count>=0){ %>
  <li><%= repo.name %></li>
  <% } %> <% } %>
</ul>
